/* Default Styles*/
html body 
{
    background-color: black;
    /*text-align: center;*/
    * 
    {
        background-color: #c3ddd2;
        outline: solid 0.1vh #000;
        color: #000;
        font-family: Consolas, monospace;
        padding: 1vh 1vw;
        margin: 1vh 1vw;
    }
}