/* Default Styles*/
html body 
{
    background-color: #000;
    /*text-align: center;*/
    * 
    {
        background-color: #000;
        outline: solid 0.1vh #999;
        color: #fff;
        font-family: Consolas, monospace;
        padding: 1vh 1vw;
        margin: 1vh 1vw;
        align-items: center;
    }
}

nav 
{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    a
    {
        display: block;
        text-decoration: none;
    }
    ul
    {
        display: flex;
        list-style: none;
    }
}

.Content-Container 
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    aside
    {
        text-align: center;
        flex-direction: column;
        align-items: center;
    }
    main 
    {
        flex-direction: column;
        align-items: center;

        #Skills 
        {
            justify-content: center;
            section
            {
                ul
                {
                    display: flex;
                    list-style: none;
                    flex-wrap: wrap;
                    li 
                    {
                        display: block;
                    }
                }  
            }
        }
    }
}

